.business-card-section {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.business-card-section .tmi-message {
  color: #656565;

  font-size: 16px;

  margin: 12px 0;
}

.business-card-section .revers-card {
  padding: 12px;

  text-align: center;
  cursor: pointer;

  display: flex;
  align-items: center;

  user-select: none;
}

.business-card-section .revers-card span {
  margin-left: 4px;
}