.ui-section {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;

    pointer-events: none;
}

.ui-section .toast-message-wrap {
    display: inline-block;

    padding: 12px;

    position: absolute;
    top : 0;
    right : 0;
}