* {
  margin : 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;

  font-family: S-CoreDream;
  word-break: keep-all;
}

*::selection {
  color: white;
  background-color: rgba(9, 40, 80, 0.63);
}

li {
  list-style: none;
}

a {
  color: black;
}

body {
  height: 100vh;

  background-color: #f3f3f3;
}

#root {
  min-height: calc(var(--vh, 1vh) * 100);
}

.App {
  display: inline-block;
  width: 100%;
  min-height: 100%;
}

::-webkit-scrollbar {
  /*display: none;*/
}

section {
  width: 100%;
  min-height: calc(var(--vh, 1vh) * 100);

  position: relative;
}

section > .content {
  width: 100%;
  max-width: 1000px;

  padding: 12px;
  margin: 0 auto;
}